<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>M-Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/bootstrap.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</head>

<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/">Home</a> </li>
                <li role="presentation"><a href="/blog">Blog</a></li>

            </ul>
        </nav>
        <h3 class="text-muted">
            <%= locals.title %>
        </h3>
    </div>

    <div class="bodyer">




